html, body, #page, #contenido {
  height: 100%;
  background-color: #222;
  font-family: 'Open Sans', sans-serif !important; font-weight: 400;
}

h2 { 
  font-family: 'Open Sans', sans-serif !important; font-weight: 600; 
}

#page {
  padding-bottom: 40px;
  padding-top: 50px;
}

#inner-content  {
  min-height: 100%;
}

#sidebar-fixed {
 position: fixed;  
 width: 16%;
}

#inner-sidebar {
  float:right;
  margin-top:20px;
}

.grid-icon {
  color: #222; font-size:14px; margin-right: 3px; margin-left: 3px;
}

input.error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
input.error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;  
}
label.error {
  color: #a94442;
}
.errorMessage {
  color: #a94442;
}

.ck-login {
  margin-top:40px;
}

.form-signin {
  max-width: 450px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#user-menu .active a {
  color: #333!important;
  background-color: transparent!important;
}
#user-menu .active a:hover {
  background-color: #f5f5f5!important;
}

.yiiPager, .pagination-sm {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pager li>a, .pager li>span {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.selected>a {
  background-color: #2a6496 !important;
  color: #ddd !important;
} 

.select-level {
  margin-top: 2px;
}

/* Edicion de flujos de proceso */

#flowchart-edit {
  position: relative;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  overflow: auto;  
  margin-top: 15px;
  margin-bottom: 25px;
  height: 700px;
}

.item {
  position: absolute;        
  border: 3px solid;
  border-color: #999;
  width: 150px;
  font-size: 80%;
  text-align: center;
}

.activity {
    background-color:#eee;  
  border-radius: 7px;
}

.begin-point {
    background-color:#AFE8B9;
  border-radius: 20px;
}

.end-point {
    background-color:#F58C8C;
  border-radius: 20px;
}

.decision{
  cursor: move;
  border: 3px solid;
  border-color: #999; 
    background-color: #eee;
    height: 86.60254037844386px;
    width: 86.60254037844386px;
    transform: translate(100px,0px) rotate(-45deg) skew(15deg, 15deg);
  -ms-transform: translate(100px,0px) rotate(-45deg) skew(15deg, 15deg);
    -webkit-transform: translate(30px,0px) rotate(-45deg) skew(15deg, 15deg);
  text-align: center;
  border-radius: 5px;     
}

.title {
  padding: 10px;
  cursor: move;
  font-weight: bold;
  font-size: 120%;  
}

.connect {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background-color: #40B3DF;
}

.hide {
  display: none;
}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    background-color: #222;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    border-bottom: 1px solid #111;
    border-top: 1px solid #333;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navbar-default {
    background-color: #222;
    border-color: #222;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ccc;
    background-color: #222;
    border-left: 5px solid #d2322d;
  }
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #aaa;
    background-color: transparent;
    border-left: 5px solid #d2322d;
  } 
  .navbar-default .navbar-nav>li>a {
    border-left: 5px solid #222;
  }   
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ccc;
    background-color: #222;
  } 
  .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ccc;
  } 
  .bg-color
  {
    border-color: #222; 
    background-color: #222; 
  }
  .bg-colorlight
  {
    background-color: #fefefe;  
  }  
  .bg-image
  {
    background-color: #fefefe;  
    background: url('../images/back.jpg');
    background-size: 100%;
  }  
  .badge-red
  {
    background-color: #d2322d;
  } 
  #btn-gr-login
  {
    margin: 10px;
  }
  #btn-login
  {
    color: #aaa; 
    background-color: #393939;
        min-width: 155px;
  }
  #btn-login:hover
  {
    color: #ccc; 
  }  
}